/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url('Assets/Images/cinema-background_2.png');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  margin: 20px 0;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input, select, button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.birthdate-fields {
  display: flex;
  gap: 10px;
}

.birthdate-fields input {
  flex: 1;
}

button {
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #b20710;
}

.ticket {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

.ticket-user-image {
  width: 150px; /* Tamanho da imagem do usuário */
  height: 150px;
  border-radius: 20%; /* Formato circular */
  object-fit: cover; /* Garante que a imagem cubra o espaço */
}

.ticket-info {
  flex: 1;
}

.ticket h2 {
  margin: 0 0 10px;
  color: #e50914;
}

.ticket p {
  margin: 5px 0;
  color: #333;
}